#root {
  margin: 0;
  padding: 5px;
  text-align: center;
  display: grid;
}

.read-the-docs {
  color: #888;
}

.profile{
  padding: 50px;
  border-radius: 50%;

}
.navbarCustome{
  position: sticky;
  top: 0;
  background-color: rgb(210, 172, 134);
  z-index: 100;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  display: inline;
  padding: 15px;
}

.nav li:hover {
  background-color: #555;
  cursor: pointer;
}

.typingeffect{
  display: grid;
  font-size: 26px;
  /* height: 30%; */
}
.skillMe{
  font-size: 32px;
  font-weight: bold;
}

img{
  margin: 5px;
}

.bodyName,.skillMe,.project-container{
  margin-bottom: 30rem;
}