*{
  font-size: 1rem;
}
body {
  margin: 0;
  display: grid;
  background-color: antiquewhite;
}

html{
  font-size: calc(60% + 0.8vm);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 50rem;
  padding: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }


  .project-container{
    margin-top: 20%;
    display: flex;
    justify-content: center;
  }

  .contacts-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 3%;
  }

}
@media (max-width: 912px) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }


  .project-container{
    margin-top: 20%;
    justify-content: center;
  }

  .contacts-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 3%;
  }

}
.container {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}
img {
  max-width: 100%;
  height: auto;
}
